* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border-box говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента .
    Если вы выставите элементу ширину 100 пикселей, то эти 100 пикселей будут включать в себя границы и внутренние отступы, а контент сожмётся,
    чтобы выделить для них место . Обычно это упрощает работу с размерами элементов .*/
}

body {
    font-family: 'Roboto', sans-serif;
    /*высота строки для текста больше самого шрифта в 1,2 раза; не нужно указывать высоту строки в пикселях*/
    line-height: 1.2;
}

header,
footer {
    background: #6C63FF;
}

/*ширина задаётся крайне редко*/
header {
    height: 80px;
}

.button-login {
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    /*прозрачная кнопка background-color: transparent*/
    background-color: transparent;
}